.bk-annotation-child {
	width: 250px;
}
html, body {
    height: 102%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.bk-widget-box{
    position: fixed;
    z-index: 10;
    right:0;
}